---
name: Docker

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build & Push Image
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v4.1.6
      with:
        fetch-depth: 0
    
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Setup Docker buildx
      id: buildx
      uses: docker/setup-buildx-action@v3

    - name: Show Release Information
      run: |-
        echo "Available Docker Buildx Platforms: ${{ steps.buildx.outputs.platforms }}"
        echo "Release tag: ${{ github.ref_name }}"
        echo "Release name: ${{ github.event.release.name }}"

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract Docker metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        # https://github.com/opencontainers/image-spec/blob/main/annotations.md
        labels: |
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.version=${{ github.ref_name }}
        # https://github.com/docker/metadata-action
        tags: |
            type=semver,pattern={{version}}

    - name: Build and Push Docker Image
      id: build-and-push
      uses: docker/build-push-action@v6
      with:
        context: .
        sbom: true
        provenance: true
        push: true
        load: false
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        # https://docs.docker.com/reference/cli/docker/buildx/build/#cache-to
        cache-from: type=gha
        cache-to: type=gha,mode=max